#include <cassert>

template<class T>
void test_{{name}}(){

 // Input and Outputs
 {% for l in loops %}
 const int {{ l.N }} = {{l.v}};
 {%- endfor %}

T counter{};

// Main program
{% for fat_pragma in fat_path %}
#pragma omp {{fat_pragma["pragma"]}} {% if "target" in fat_pragma %} map(tofrom: counter) {% endif %}
{% if "loop" in fat_pragma %}
    for (int {{fat_pragma["loop"].i}} = 0 ; {{fat_pragma["loop"].i}} < {{fat_pragma["loop"].N}} ; {{fat_pragma["loop"].i}}++ )
{% endif %}
{
{% endfor %}

#pragma omp atomic update
counter++;

{% for fat_pragma in fat_path %}
}
{% endfor %}

// Validation
assert( counter {{expected_value}} );

}
int main()
{
    test_{{name}}<double>();
}

