{% from 'utils.F90.jinja2' import prologue_general, prologue_function, epilogue_function, increment  with context%}
{% set is_cmplx = (T_category == "complex") %}

{{ prologue_general(is_cmplx) }}

PROGRAM {{name}}

{{ prologue_function(loops, only_teams, only_parallel, is_cmplx) }}
{%- if family == 'reduction_atomic' %}
  {{T}} partial_counter
{% endif %}

{% for fat_pragma in fat_path %}
  {%- if family == 'reduction_atomic' and  "partial" in fat_pragma %}
  partial_counter = 0.
  {%- endif  %}
!$OMP {{fat_pragma["pragma"]}}
  {%- if    "reduce_host"  in fat_pragma                                     %} REDUCTION(+: counter)
  {%- elif family == 'reduction'          and "reduce"         in fat_pragma %} REDUCTION(+: counter)
  {%- elif family == 'reduction_atomic' and "partial_reduce" in fat_pragma   %} REDUCTION(+: partial_counter) {%- endif %}
  {%- if "target" in fat_pragma %} MAP(TOFROM: counter) {% endif %}


{% if "loop" in fat_pragma %}
    DO {{fat_pragma["loop"].i}} = 1 , {{fat_pragma["loop"].N}}
{% endif %}

    {% if "only_teams" in fat_pragma %}
    num_teams = omp_get_num_teams()
    {% elif "only_parallel" in fat_pragma %}
    num_threads = omp_get_num_threads()
    {% endif %}

    {% endfor %}

{% if   family in ('atomic','threaded_atomic')  %}
!$OMP ATOMIC UPDATE
{{ increment('counter', balenced, only_teams, only_parallel,is_cmplx) }}
{% elif family in ('reduction','threaded_reduction')  %}
{{ increment('counter', balenced, only_teams, only_parallel,is_cmplx) }}
{% elif family == 'reduction_atomic' %}
{{ increment('partial_counter', balenced, only_teams, only_parallel,is_cmplx) }}
{% endif %}

{% for fat_pragma in fat_path | reverse %}

{% if "loop" in fat_pragma %}
    END DO
#ifdef _END_PRAGMA
{% endif %}
!$OMP END {{fat_pragma["pragma"]}}
{% if "loop" in fat_pragma %}
#endif
{% endif %}

{% if family == 'reduction_atomic' and "partial" in fat_pragma%}
!$OMP ATOMIC UPDATE
counter = counter + partial_counter
#ifndef _END_PRAGMA
!$OMP END ATOMIC
#endif
{% endif %}

{% endfor %}

    {{ epilogue_function('counter', expected_value) }}

END PROGRAM {{name}}

