{#  _                    _     __               #}
{# / \ ._   _  ._  |\/| |_)   (_ _|_     |_   _ #}
{# \_/ |_) (/_ | | |  | |     __) |_ |_| |_) _> #}
{#     |                                        #}

{% if not balenced or multiple_devices %}
#ifndef _OPENMP
   {% if single("teams") %}
FUNCTION omp_get_num_teams() RESULT(i)
  INTEGER :: i
  i = 1
END FUNCTION omp_get_num_teams
   {% endif %}
   {% if single("parallel") %}
FUNCTION omp_get_num_threads() RESULT(i)
  INTEGER :: i
  i = 1
END FUNCTION omp_get_num_threads
   {% endif %}
   {% if multiple_devices %}
FUNCTION omp_get_num_devices() RESULT(i)
  INTEGER :: i
  i = 1
END FUNCTION omp_get_num_devices
   {% endif %}
#endif
{% endif %}

{#  _                                         _                         #}
{# /   _  ._ _  ._   _. ._ _. o  _  _  ._    |_    ._   _ _|_ o  _  ._  #}
{# \_ (_) | | | |_) (_| | (_| | _> (_) | |   | |_| | | (_  |_ | (_) | | #}
{#              |                                                       #}


{# For memcopy we compare 'bitwise', for folder we compare relatively due to floating point arithmetic #}

{% if test_type != 'memcopy' %}
FUNCTION almost_equal(x, gold, tol) RESULT(b)
  implicit none
  {{T}}, intent(in) :: x
  INTEGER,  intent(in) :: gold
  REAL,     intent(in) :: tol
  LOGICAL              :: b
   {% if T.category =="complex" %}
  b = ( gold * (1 - tol)  <= ABS(x) ).AND.( ABS(x) <= gold * (1+tol) )
   {% else %}
  b = ( gold * (1 - tol)  <= x ).AND.( x <= gold * (1+tol) )
   {% endif %}
END FUNCTION almost_equal
{% endif %}


{# ___  ___      _        ______                _   _              #}
{# |  \/  |     (_)       |  ___|              | | (_)             #}
{# | .  . | __ _ _ _ __   | |_ _   _ _ __   ___| |_ _  ___  _ __   #}
{# | |\/| |/ _\` | | '_ \ |  _| | | | '_ \ / __| __| |/ _ \| '_ \  #}
{# | |  | | (_| | | | | | | | | |_| | | | | (__| |_| | (_) | | | | #}
{# \_|  |_/\__,_|_|_| |_| \_|  \__,_|_| |_|\___|\__|_|\___/|_| |_| #}
{#                                                                 #}

{# Fortran 2003 restrict the size identifiers to 63 characters #}
{# I don't want to talk (or support) older version... #}
{# "Be the Change You Wish To See in the World: #}

{% if name|length <= 63 %}
PROGRAM {{name}}
{% else %}
!{{name}}
PROGRAM main
{% endif %}

{#                               _                                   #}
{# \  / _. ._ o  _. |_  |  _    | \  _   _ |  _. ._ _. _|_ o  _  ._  #}
{#  \/ (_| |  | (_| |_) | (/_   |_/ (/_ (_ | (_| | (_|  |_ | (_) | | #}
{#                                                                   #}

{% if not balenced or multiple_devices %}
#ifdef _OPENMP
  USE OMP_LIB
  implicit none
#else
  implicit none
   {% if single("teams") %}
  INTEGER :: omp_get_num_teams
   {% endif %}
   {% if single("parallel") %}
  INTEGER :: omp_get_num_threads
   {% endif %}
   {% if single("multiple_devices") %}
  INTEGER :: omp_get_num_devices
   {% endif %}
#endif
{% else %}
  implicit none
{% endif %}

{% for loop_constructs in regions_associated_loop %}
{% for loop_  in loop_constructs %}
  INTEGER :: {{ loop_.N }} = {{ loop_.v }}
  INTEGER :: {{ loop_.i }}
{% endfor %}
{% endfor %}
{% if test_type != 'memcopy' %}
  LOGICAL :: almost_equal
    {# We need unique in the case of non temporary result #}
    {% for counter in regions_counter | unique %}
  {{T}} :: {{counter}}
    {% endfor %}
  INTEGER :: expected_value
  expected_value = {{tripcount}}
{% else %}
  INTEGER :: idx, S
  INTEGER :: errno = 0
  {{T}}, ALLOCATABLE :: src(:)
  {{T}}, ALLOCATABLE :: dst(:)
   {% if  T.category == "complex" %}
  REAL, ALLOCATABLE :: src_real(:)
  REAL, ALLOCATABLE :: src_imag(:)
   {%endif%}

  S = {{tripcount}}
  ALLOCATE(dst(S), src(S) )

   {% if T.category == "complex" %}
  ALLOCATE(src_real(S),src_imag(S))
  CALL RANDOM_NUMBER(src_real)
  CALL RANDOM_NUMBER(src_imag)
  src = CMPLX(src_real,src_imag)
  DEALLOCATE (src_real,src_imag)
   {% else %}
  CALL RANDOM_NUMBER(src)
   {% endif %}

{% endif %}

{#                      _                          #}
{# |   _   _  ._   _   |_) ._ _  |  _   _       _  #}
{# |_ (_) (_) |_) _>   |   | (_) | (_) (_| |_| (/_ #}
{#            |                         _|         #}

{% for region, loop_constructs, region_additional_pragma, counter in zip(l_nested_constructs_ironed_out, regions_associated_loop, regions_additional_pragma,regions_counter) %}
{% filter indent(width=2*loop.index) %}
   {# In the case of 'local' test, we use only one counter in the outermost enclosing scope #}
   {% if  test_type != 'memcopy' and (intermediate_result or loop.first) %}
{{counter}} = 0
   {% endif %}
   {% for pragma, additional_pragma in zip(region, region_additional_pragma) %}
!$OMP {{pragma | replace("for","do") | upper() }} {{additional_pragma}}
   {% endfor %}

   {% for loop_  in loop_constructs %}
DO {{loop_.i}} = 1, {{loop_.N}}
   {% endfor %}
{% endfilter %}
{% endfor %}

{#                      _                         #}
{# |   _   _  ._   _   |_ ._  o |  _   _       _  #}
{# |_ (_) (_) |_) _>   |_ |_) | | (_) (_| |_| (/_ #}
{#            |           |            _|         #}
{% for region, loop_constructs, increments in zip(l_nested_constructs_ironed_out, regions_associated_loop, regions_increment) | reverse %}
   {% filter indent(width=2*(loop.revindex+1)) %}

      {# In the case of 'local' test, we increment the counter only in the inner most enclosing scope #}
      {% if test_type != 'memcopy' and (intermediate_result or loop.first) %}

         {% if test_type =='atomic' %}
!$OMP atomic update
         {% elif test_type =='ordered' %}
!$OMP ordered
         {% endif %}

         {% if increments.j %}
{{increments.v}} = {{increments.v}} + {{increments.i}}  / {{increments.j}} ;
         {% else %}
{{increments.v}} = {{increments.v}} + {{increments.i}}
         {% endif %}
      
      {% elif test_type == 'memcopy' and loop.first %}
idx = {{inner_index}}
dst(idx) = src(idx)
      {% endif %}

   {% endfilter %}

   {# The closing braket are indented by one less level #}
   {% filter indent(width=2*loop.revindex) %}
      {% for loop_  in loop_constructs %}
END DO
      {% endfor %}
   {% endfilter %}

   {% filter indent(width=2*loop.revindex) %}
         {% for pragma in region | reverse %}
             {% if paired_pragmas or not pragma.has_construct("loop-associated") %}
!$OMP END {{pragma | replace("for","do") | upper}}
             {% endif %}
         {% endfor %}
   {% endfilter %}
{% endfor %}


{#                                   #}
{# \  / _. | o  _|  _. _|_ o  _  ._  #}
{#  \/ (_| | | (_| (_|  |_ | (_) | | #}
{#                                   #}

{# https://tldp.org/LDP/abs/html/exitcodes.html, we choose 112 #}
{# To follow the standart we should use ERROR STOP. But it's a Fortran 2008 feature...#}
{# That may cause portabilities issue #}

{%if test_type == 'memcopy' %}
   {% if T.category == "complex" %}
  IF (ANY(ABS(dst - src) > EPSILON(REAL(src)))) THEN
   {% else %}
  IF (ANY(ABS(dst - src) > EPSILON(src))) THEN
   {% endif %}
    WRITE(*,*)  'Wrong value', MAXVAL(ABS(DST-SRC)), 'max difference'
    errno = 112
  ENDIF
  DEALLOCATE(src, dst)
  {# STOP can *ONLY* take a constant by the standart...#}
  IF (errno .EQ. 112) STOP 112
{% else %}
  IF ( .NOT.almost_equal({{regions_counter | first }},expected_value, 0.1) ) THEN
    WRITE(*,*)  'Expected', expected_value,  'Got', {{regions_counter | first }}
    STOP 112
  ENDIF
{% endif %}

{% if name|length <= 63 %}
END PROGRAM {{name}}
{% else %}
END PROGRAM main
{% endif %}
