SRC = $(wildcard *.f90)
EXE = $(SRC:%.f90=%.exe)

.PHONY: exe
exe: $(EXE)

pEXE = $(wildcard *.exe)
RUN = $(addprefix run_, $(basename $(pEXE)))

{% for name in ("loop",) %}
SRC_NO_{{name|upper}} = $(filter-out $(wildcard *{{name}}*.f90), $(SRC))
EXE_NO_{{name|upper}} = $(SRC_NO_{{name|upper}}:%.f90=%.exe)

.PHONY: exe_no_{{name}}
exe_no_{{name}}: $(EXE_NO_{{name|upper}})
{% endfor %}

%.exe: %.f90
	-$(FC) $(FFLAGS) -cpp $< -o $@

.PHONY: run
run: $(RUN)
run_%: %.exe
	-./$<

.PHONY: clean
clean:
	rm -f -- $(pEXE)

