TIMEOUT = $(shell command -v timeout 2> /dev/null)
ifdef TIMEOUT
	TIMEOUT = timeout 45s
endif

SRC = $(wildcard *.F90)
EXE = $(SRC:%.F90=%.exe)

.PHONY: exe
exe: $(EXE)

pEXE = $(wildcard *.exe)
RUN = $(addprefix run_, $(basename $(pEXE)))

{% for name in ("loop",) %}
SRC_NO_{{name|upper}} = $(filter-out $(wildcard *{{name}}*.F90), $(SRC))
EXE_NO_{{name|upper}} = $(SRC_NO_{{name|upper}}:%.F90=%.exe)

.PHONY: exe_no_{{name}}
exe_no_{{name}}: $(EXE_NO_{{name|upper}})
{% endfor %}

.PHONY: exe_no_long_double_no_loop
exe_no_long_double_no_loop: $(EXE_NO_LOOP)

%.exe: %.F90
	-$(TIMEOUT) $(FC) $(FFLAGS) $< -o $@

.PHONY: run
run: $(RUN)
run_%: %.exe
	-$(TIMEOUT) ./$<

.PHONY: clean
clean:
	rm -f -- $(pEXE) 

