TIMEOUT = $(shell command -v timeout 2> /dev/null)
ifdef TIMEOUT
	TIMEOUT = timeout 45s
endif

SRC = $(wildcard *.cpp)
EXE = $(SRC:%.cpp=%.exe)

.PHONY: exe
exe: $(EXE)

pEXE = $(wildcard *.exe)
RUN = $(addprefix run_, $(basename $(pEXE)))

{% for name in ("long_double", "loop") %}
SRC_NO_{{name|upper}} = $(filter-out $(wildcard *{{name}}*.cpp), $(SRC))
EXE_NO_{{name|upper}} = $(SRC_NO_{{name|upper}}:%.cpp=%.exe)

.PHONY: exe_no_{{name}}
exe_no_{{name}}: $(EXE_NO_{{name|upper}})
{% endfor %}

.PHONY: exe_no_long_double_no_loop
exe_no_long_double_no_loop: $(filter $(EXE_NO_LONG_DOUBLE), $(EXE_NO_LOOP))

%.exe: %.cpp
	-$(TIMEOUT) $(CXX) $(CXXFLAGS) $< -o $@

.PHONY: run
run: $(RUN)
run_%: %.exe
	-$(TIMEOUT) ./$<

.PHONY: clean
clean:
	rm -f -- $(pEXE)

