SRC = $(wildcard *.cpp)
EXE = $(SRC:%.cpp=%.exe)

.PHONY: exe
exe: $(EXE)

pEXE = $(wildcard *.exe)
RUN = $(addprefix run_, $(basename $(pEXE)))

{% for name in ("long_double", "loop") %}
SRC_NO_{{name|upper}} = $(filter-out $(wildcard *{{name}}*.cpp), $(SRC))
EXE_NO_{{name|upper}} = $(SRC_NO_{{name|upper}}:%.cpp=%.exe)

.PHONY: exe_no_{{name}}
exe_no_{{name}}: $(EXE_NO_{{name|upper}})
{% endfor %}

%.exe: %.cpp
	-$(CXX) $(CXXFLAGS) $< -o $@

.PHONY: run
run: $(RUN)
run_%: %.exe
	-./$<

.PHONY: clean
clean:
	rm -f -- $(pEXE)

