{% if size %}
#define PROB_SIZE {{size}}
{% endif %}

{% if have_complex %}
#include <complex>
{% endif %}
#include <cmath>
#include <iomanip> {# setprecision #}
#include <limits>
#include <iostream>
#include <cstdlib>
{% if size %}
#include <algorithm>
{% endif %}

using namespace std;

{% for output in l_argv | selectattr('is_output') | unique(attribute='T.without_pointer') %} 
   {% if not output.T.category in ("integer","bool") %}
bool almost_equal({{output.T.without_pointer}} x, {{output.T.without_pointer}} y, int ulp) {
      {% if output.T.category == "float" %}
     return std::fabs(x-y) <= std::numeric_limits<{{output.T.internal}}>::epsilon() * std::fabs(x+y) * ulp ||  std::fabs(x-y) < std::numeric_limits<{{output.T.internal}}>::min();
      {% elif output.T.category == "complex" %}
    return std::abs(x-y) <= std::numeric_limits<{{output.T.internal}}>::epsilon() * std::abs(x+y) * ulp ||  std::abs(x-y) < std::numeric_limits<{{output.T.internal}}>::min();
      {% endif %}
}
   {% endif %}
{% endfor %}

void test_{{name}}(){
    const int PROB_SIZE = 10;

   {% for input in l_argv | selectattr('is_input')  %}
      {% if not size %}
   {{input.T}} {{input.name}} { {{input.val}} };
      {% else %}
   {{input.T}} {{input.name}}[PROB_SIZE];
          {% set is_cmplx = ( input.T.category == "complex") %}
   std::fill({{input.name}}, {{input.name}} + PROB_SIZE, {% if is_cmplx %} {{input.T}}( {% endif %} {{input.val}} {% if is_cmplx %} ) {% endif %} );
      {% endif %}
   {% endfor %}

   {% for output in l_argv | selectattr('is_output') %}
   {{output.T.without_pointer}} {{output.name_host}} {}; 
   {{output.T.without_pointer}} {{output.name_device}} {};
   {% endfor %}

    for (int i= 0;  i < PROB_SIZE ; i++) {
    {%if scalar_output %}{{scalar_output.name_host_idx}} += {% endif %} {{name}}( {{ l_argv | selectattr('is_argv') | join(', ',attribute='argv_host') }});
   }

   #pragma omp target map(tofrom: {{ l_argv | selectattr('is_output') | join(', ', attribute='map_clause_from')  }} )  {%if size %} map(to: {{ l_argv | selectattr('is_input') | join(', ', attribute='map_clause_to')  }} ) {% endif %} {% for output in l_argv | selectattr('is_output') %} reduction(+: {{output.name_device}}) {% endfor %}

    for (int i= 0;  i < PROB_SIZE; i++)
    { 
    {%if scalar_output %} {{scalar_output.name_device_idx}} += {% endif %} {{name}}( {{ l_argv | selectattr('is_argv') | join(', ',attribute='argv_device') }});
    }

   {%if size %}
   for (int i= 0;  i < PROB_SIZE; i++) 
   {
   {% endif %}

   {% for output in l_argv | selectattr('is_output')  %}
      {% if output.T.category in ("integer","bool")  %}
   if ( {{output.name_host_idx}} != {{output.name_device_idx}} ) {
      {% else %}
   if ( !almost_equal({{output.name_host_idx}},{{output.name_device_idx}}, 4) ) {
      {% endif %}
        std::cerr << std::setprecision (std::numeric_limits<{{output.T.internal}}>::max_digits10 ){% if size %} << "Idx: " << i << " " {% endif %} << "Host: " << {{output.name_host_idx}} << " GPU: " << {{output.name_device_idx}} << std::endl;
        {# https://tldp.org/LDP/abs/html/exitcodes.html, we choose 112 #}
        std::exit(112);
    }
    {% endfor %}


   {%if size %}
   }
   {% endif %}
}

int main()
{
    test_{{name}}();
}

